.footer {
    width: 100%;
    bottom: 0;
    padding: 1rem 5rem;
    text-align: end;
}

.footer .description {
    font-size: 15px;
}

.footer .name a {
    color: var(--secondary-text);
    text-decoration: none;
}