@media (max-width: 999px) {
    .header {
        padding: 1.66rem 2rem;
    }
    .after-header {
        background-color: var(--bg);
    }
    .after-header .name-logo,
    .after-header .links a {
        color: var(--text);
    }
    .menu-mobile {
        font-size: 25px;
        display: block;
    }
    .close-menu-mobile {
        display: block;
    }
    .links {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100%;
        background-color: var(--bg);
        gap: 30px;
        padding-top: 3rem;
    }
    .links a,
    .close-menu-mobile {
        font-size: 18px;
    }
    .name h1,
    .name h2,
    .contact {
        text-align: center;
    }
    .about .right {
        display: none;
    }
    .downloads {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .projects h1,
    .educations h1,
    .skills h1,
    .experiences h1,
    .certificates h1 {
        font-size: 1.9rem;
    }
    .row-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .project {
        max-width: 90%;
        width: 90%;
        height: 500px;
        max-height: 500px;
    }
    .project-title {
        font-size: 22px;
    }
    .project-description {
        font-size: 14px;
    }
    .project-btn {
        font-size: 14px;
    }
    .row-educations {
        align-items: center;
    }
    .education {
        flex-direction: column;
        max-width: 90%;
        width: 90%;
    }
    .education h2 {
        font-size: 20px;
        text-align: center;
    }
    .education h3 {
        font-size: 15px;
        text-align: center;
    }
    .education h4 {
        font-size: 14px;
        text-align: center;
    }
    .skill-icons {
        gap: 15px;
        font-size: 45px;
        margin: 0 15px;
        padding: 0;
    }
    .experiences {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }
    .experience {
        flex-direction: column;
        align-items: center;
    }
    .name-experience {
        font-size: 24px;
        text-align: center;
    }
    .role-experience {
        font-size: 20px;
        text-align: center;
        margin-bottom: 5px;
    }
    .technologies-experience,
    .date-experience {
        font-size: 16px;
    }
    .certificates {
        font-size: 15px;
    }
    .certificate {
        margin: 0 12px;
    }
    .certificate a {
        font-size: 18px;
    }
    .footer {
        text-align: center;
    }
    .footer .description {
        font-size: 12px;
    }
}